@import "../index";

.ForgotPassword {
  background-color: $aboutBackground2;
  background-color: #9a552f;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;

  & .designFragment {
    padding: 1rem;
    background: orange;
    background-image: linear-gradient(to right, #639fe469, #000),
      url("../assets/cat.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: grid;
    display: none;
    @media (min-width: $tablet) {
      display: block;
    }
  }

  & .designFragment2 {
    padding: 1rem;
    background: transparent;
    height: 100vh;
    width: 100%;
    display: block;

    @media (min-width: $tablet) {
      display: block;
    }
  }

  & .formProper {
    height: 50vh;
    width: 100%;
    background: #9a552f;
    position: absolute;
    top: 25%;
    box-shadow: 0.3rem 0.3rem 1rem 0.3rem rgba(0, 0, 0, 0.041);
    border-radius: 0.5rem;
    display: grid;
    place-items: center;
    @media (min-width: $tablet) {
      width: 40%;
      right: 20%;
      padding: 1rem;
    }

    & form {
      h4 {
        width: 90%;
        margin: 2rem auto;
        font-weight: lighter;
        text-transform: capitalize;
        color: rgba(255, 255, 255, 0.89);
        font-size: 1.4rem;

        @media (min-width: $tablet) {
          width: 70%;
        }
      }
      input {
        width: 70%;
        height: 2rem;
        background-color: transparent;
        border: none;
        outline: none;
        border-bottom: 0.1rem solid rgba(128, 128, 128, 0.308);
        font-size: 1rem;
        color: white;
      }

      & .buttonWrapper {
        width: 100%;
        margin: 0 auto;

        @media (min-width: $tablet) {
          width: 100%;
        }

        & .extraStyle {
          padding: 1rem;
        }
      }
    }
  }
}
